.div1{
	width: 200px;
	height: 200px;
	background: #ED2251;

}
.div11{
	width: 200px;
	height: 200px;
	background: #3A81BA;
	margin-left: 200px;
}
.div2{
	width: 200px;
	height: 200px;
	background: #8BAB42;
}