.div1{
	width: 200px;
	height: 200px;
	background: #ED2251;
	right: 0px;
	top: 0px;
	
}
.div2{
	width: 200px;
	height: 200px;
	background: #3A81BA;
	position: absolute;
	left:208px;
}
.div3{
	width: 200px;
	height: 200px;
	background: #8BAB42;
	
}
.div4{
	width: 200px;
	height: 200px;
	background: #FFFF00;
	
}